section.ad
	.container
		.ad__row
			.ad__column
				h3.section-title тендеры
				ul.ad__list
					li.ad__item
						.ad__pic-wrap
							img(src="img/ad.jpg", alt="").ad__pic
						.ad__content
							.ad__secondary 21.02.2019
							a(href="#").ad__title Нужны бюджетные окна 3 шт двустворчатые
					li.ad__item
						.ad__pic-wrap
							img(src="img/ad.jpg", alt="").ad__pic
						.ad__content
							.ad__secondary 19.02.2019
							a(href="#").ad__title Раздвижная система HS (ПВХ)
					li.ad__item
						.ad__pic-wrap
							img(src="img/ad.jpg", alt="").ad__pic
						.ad__content
							.ad__secondary 20.02.2019
							a(href="#").ad__title Нужны бюджетные окна 3 шт двустворчатые
			.ad__column
				h3.section-title вакансии
				ul.ad__list
					li.ad__item
						.ad__content
							.ad__secondary 
								svg.ad__icon: use(xlink:href="img/sprite.svg#fire")
								| 14’000 грн
							a(href="#").ad__title Сборщик металлопластиковых конструкций
					li.ad__item
						.ad__content
							.ad__secondary 
								svg.ad__icon: use(xlink:href="img/sprite.svg#fire")
								| 20’000 грн
							a(href="#").ad__title Монтажник светопрозрачных конструкций
					li.ad__item
						.ad__content
							.ad__secondary 
								svg.ad__icon: use(xlink:href="img/sprite.svg#fire")
								| 14’000 грн
							a(href="#").ad__title Сборщик металлопластиковых конструкций
		