section.first
	.container
		.first__container
			.first__img-wrap
				img(data-src="img/first.jpg", alt="").first__img.lazyload
			.first__wrap
				.first__inner
					h1
						.first__phrases
							.first__phrase.first__phrase-first ЭнергоэФфективные 
							.first__phrase.first__phrase-second окна
						.first__descr для квартиры и дома
					.first__buttons
						a(href="#").button.button--transparent Выбрать компанию
						a(href="#").button.button--light рассчитать окна