section.first
	.container
		.first__container
			img(src="img/first.jpg", alt="")
			.first__wrap
				.first__inner
					.first__phrases
						.first__phrase.first__phrase-first ЭнергоэФфективные 
						.first__phrase.first__phrase-second окна
					.first__descr для квартиры и дома
					.first__buttons
						a(href="#").button.button--transparent Выбрать компанию
						a(href="#").button.button--light рассчитать окна