footer.footer
	.container
		.footer__top
			a(href="#").footer__logo
				img(src="img/logo-white.svg", alt="okna.ua", role="logo")
			a(href="tel:+380442372567").footer__tel(data-code="+38 ") 044 237-2-567

		nav.footer__nav
			.footer__side
				h6.footer__title Покупателям окон
				ul.footer__menu
					li.footer__menu-item
						a(href="#").footer__link Калькулятор окон
					li.footer__menu-item
						a(href="#").footer__link Калькулятор Энергоэффективности окон
					li.footer__menu-item
						a(href="#").footer__link Выбрать монтажников окон
					li.footer__menu-item
						a(href="#").footer__link выбрать окна
					li.footer__menu-item
						a(href="#").footer__link москитные сетки
					li.footer__menu-item
						a(href="#").footer__link Какие монтажи бывают
					li.footer__menu-item
						a(href="#").footer__link Солнцезащита
			.footer__side
				h6.footer__title Специалистам
				ul.footer__menu
					li.footer__menu-item
						a(href="#").footer__link Добавить компанию
					li.footer__menu-item
						a(href="#").footer__link Реклама
					li.footer__menu-item
						a(href="#").footer__link Разместить вакансию
					li.footer__menu-item
						a(href="#").footer__link Тендеры
					li.footer__menu-item
						a(href="#").footer__link москитные сетки
					li.footer__menu-item
						a(href="#").footer__link Какие монтажи бывают
					li.footer__menu-item
						a(href="#").footer__link Солнцезащита
		ul.footer__links
			li.footer__li
				a(href="#").footer__a © 2019 OKNA.ua
			li.footer__li
				a(href="#").footer__a Об OKNA.ua
			li.footer__li
				a(href="#").footer__a Contact Us
			li.footer__li
				a(href="#").footer__a Work with us
			li.footer__li
				a(href="#").footer__a Advertise
			li.footer__li
				a(href="#").footer__a Your Ad Choices
			li.footer__li
				a(href="#").footer__a Privacy
			li.footer__li
				a(href="#").footer__a Terms of Service
			li.footer__li
				a(href="#").footer__a Terms of Sale
			li.footer__li
				a(href="#").footer__a Site Map
			li.footer__li
				a(href="#").footer__a Help
			li.footer__li
				a(href="#").footer__a Subscriptions