title #{name} - #{(title ? title : "Page")}

meta(charset='UTF-8')
meta(name='keywords', content='')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')

meta(property='og:title', content='')
meta(property='og:type', content='website')
meta(property='og:description', content='')
meta(property='og:url', content='')
meta(property='og:image', content='')

link(rel='apple-touch-icon', sizes='192x192', href='img/favicons/webclip.jpg')
link(rel='icon', type='image/png', sizes='192x192', href='img/favicons/webclip.jpg')
link(rel='shortcut icon', type='image/x-icon', href='img/favicons/favicon.jpg')

meta(name="theme-color", content="#69d2e7")
meta(name="msapplication-navbutton-color", content="#69d2e7")
meta(name="apple-mobile-web-app-status-bar-style", content="#69d2e7")

include styles