.platform
	.container
		h2.section-title о платформе OKNA.ua
		.platform__text
			p OKNA.ua — уникальный ресурс для приобретения и продажи оконных систем всех типов, оборудования для производства окон, сопутствующих товаров и услуг. С помощью OKNA.ua 9800 компаний предлагают товары и услуги для аудитории в более чем 150 000 посетителей в месяц:<br>все виды оконных систем (металлопластиковые, алюминиевые, деревянные);<br>сопутствующие товары: подоконники, отливы, жалюзи, шторы, решетки и др.;<br>светопрозрачные фасадные системы;<br>двери, ворота;<br>балконы и зимние сады;<br>
