section.prom
	.container
		.prom__row
			.prom__column
				h2.section-title тендеры
				ul.prom__list
					li.prom__item
						.prom__pic-wrap
							img(src="", alt="").prom__pic
						h3.prom__content
							.prom__secondary 21.02.2019
							a(href="#").prom__title Нужны бюджетные окна 3 шт двустворчатые
					li.prom__item
						.prom__pic-wrap
							img(src="", alt="").prom__pic
						h3.prom__content
							.prom__secondary 19.02.2019
							a(href="#").prom__title Раздвижная система HS (ПВХ)
					li.prom__item
						.prom__pic-wrap
							img(src="", alt="").prom__pic
						h3.prom__content
							.prom__secondary 20.02.2019
							a(href="#").prom__title Нужны бюджетные окна 3 шт двустворчатые
			.prom__column
				h2.section-title вакансии
				ul.prom__list
					li.prom__item
						h3.prom__content
							.prom__secondary 
								svg.prom__icon: use(xlink:href="img/sprite.svg#fire")
								| 14’000 грн
							a(href="#").prom__title Сборщик металлопластиковых конструкций
					li.prom__item
						h3.prom__content
							.prom__secondary 
								svg.prom__icon: use(xlink:href="img/sprite.svg#fire")
								| 20’000 грн
							a(href="#").prom__title Монтажник светопрозрачных конструкций
					li.prom__item
						h3.prom__content
							.prom__secondary 
								svg.prom__icon: use(xlink:href="img/sprite.svg#fire")
								| 14’000 грн
							a(href="#").prom__title Сборщик металлопластиковых конструкций
		