section.rating
	.container
		.rating__grid

			.rating__rating
				.section-title рейтинги
				.rating__nav
					svg.rating__prev: use(xlink:href="img/sprite.svg#prev")
					.rating__caption.active профили
					.rating__caption компании 
					.rating__caption окна
					svg.rating__next: use(xlink:href="img/sprite.svg#next")

				ol.rating__list.active
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info ALTEST1
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info ALTEST2
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info ALTEST3
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info ALTEST4
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info ALTEST5

				ol.rating__list
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш Харьков1
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш Харьков2
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш Харьков3
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш Харьков4
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш Харьков5

				ol.rating__list
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш (Евроглас)1
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш (Евроглас)2
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш (Евроглас)3
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш (Евроглас)4
					li.rating__ol-item
						a(href="#").rating__line
							.rating__logo
								img(src="", alt="").rating__img
							.rating__info Глас Трёш (Евроглас)5



			.rating__rating
				.section-title выставки
				.rating__nav
					svg.rating__prev: use(xlink:href="img/sprite.svg#prev")
					.rating__caption.active март-сентябрь 2019
					.rating__caption сентябрь-февраль 2020
					.rating__caption март-сентябрь 2020
					svg.rating__next: use(xlink:href="img/sprite.svg#next")
				ul.rating__list.active
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2018
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2018
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2018
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2018
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2018
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2018

				ul.rating__list
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2019
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2019
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2019
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2019
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2019
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2019
				ul.rating__list
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2020
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2020
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2020
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2020
					li.rating__ul-item
						.rating__line
							.rating__info
								svg.rating__icon.rating__icon--calendar: use(xlink:href="img/sprite.svg#calendar")
								| апрель 2020
							.rating__info
								svg.rating__icon: use(xlink:href="img/sprite.svg#location")
								| Милан, Италия
						a(href="#").rating__name Eurasia Window 2020
		include ../includes/ban					