section.read
	.container.container--mob
		.read__parts
			.read__left.js-tabs 
				.read__title
					h2.section-title читать об окнах
				.read__nav
					.read__tabs
						button.read__tab.js-tabs__item.active покупателям
						button.read__tab.js-tabs__item специалистам
					select
						option Популярные	
						option Новые
				.read__articles.js-tabs__tab.active

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Как защититься от мошенничества при покупке окон

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Blower Door Test — тест на герметичность здания

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title 10 фактов о подъемно–сдвижной системе 70LS

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Естественное освещение для проектирования окон

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Годовой обзор рынка СПК в Украине за 2018год от AXOR

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Окна: защита от солнца

				.read__articles.js-tabs__tab
					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Окна: защита от солнца

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Годовой обзор рынка СПК в Украине за 2018год от AXOR

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Естественное освещение для проектирования окон

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title 10 фактов о подъемно–сдвижной системе 70LS

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="") 
						h4.preview__title Blower Door Test — тест на герметичность здания

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h4.preview__title Как защититься от мошенничества при покупке окон
			.read__right
				a(href="#").read__banner 