section.read
	.container.container--mob
		.read__parts
			.read__left.js-tabs 
				.read__title
					h2.section-title читать об окнах
				.read__nav
					.read__tabs
						button.read__tab.js-tabs__item.active(data-href="#tab1" aria-label="tab for buyers") покупателям
						button.read__tab.js-tabs__item(data-href="#tab2" aria-label="tab for masters") специалистам
					.read__select
						.select(data-name="whom")
							.option.js-tabs__item(aria-label="tab for buyers" data-value="0" data-href="#tab1") покупателям
							.option.js-tabs__item(aria-label="tab for masters" data-value="1" data-href="#tab2") специалистам

					.select(data-name="articles")
						.option(aria-label="Популярные статьи" data-value="0") Популярные
						.option(aria-label="Новые статьи" data-value="1") Новые

				.read__articles.js-tabs__tab.active#tab1

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img.lazyload(data-src="img/w/w1.jpg", alt="")
						h3.preview__title Как защититься от мошенничества при покупке окон

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img.lazyload(data-src="img/w/w2.jpg", alt="")
						h3.preview__title Blower Door Test — тест на герметичность здания

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img.lazyload(data-src="img/w/w3.jpg", alt="")
						h3.preview__title 10 фактов о подъемно–сдвижной системе 70LS

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img.lazyload(data-src="img/w/w4.jpg", alt="")
						h3.preview__title Естественное освещение для проектирования окон

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img.lazyload(data-src="img/w/w5.jpg", alt="")
						h3.preview__title Годовой обзор рынка СПК в Украине за 2018год от AXOR

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img.lazyload(data-src="img/w/w6.jpg", alt="")
						h3.preview__title Окна: защита от солнца

				.read__articles.js-tabs__tab#tab2
					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h3.preview__title Окна: защита от солнца

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h3.preview__title Годовой обзор рынка СПК в Украине за 2018год от AXOR

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h3.preview__title Естественное освещение для проектирования окон

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h3.preview__title 10 фактов о подъемно–сдвижной системе 70LS

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="") 
						h3.preview__title Blower Door Test — тест на герметичность здания

					a.preview(href="#")
						.preview__img-wrap
							img.preview__img(src="", alt="")
						h3.preview__title Как защититься от мошенничества при покупке окон
			.read__right
				.read__banner 