section.stock
	.container
		.stock__title
			h2.section-title акции
		.stock__carousel.swiper-container.js-stock__carousel
			ul.swiper-wrapper(aria-label="Акции")
				li.swiper-slide.js-discount(data-start="6.1.2019", data-deadline="6.12.2020")
					.stock__head
						.stock__discount -30% 
						.stock__product ALTEST
					a(href="#").stock__offer Подарки к каждому заказу этой весной!
					.stock__progress
						.stock__progress-bar
					.stock__deadline <span class="js-deadline"></span>
				li.swiper-slide.js-discount(data-start="6.1.2019", data-deadline="7.29.2019")
					.stock__head
						.stock__discount %
						.stock__product сезон плюс  
					a(href="#").stock__offer Скидки на окна Стеко
					.stock__progress
						.stock__progress-bar 
					.stock__deadline <span class="js-deadline"></span>
				li.swiper-slide.js-discount(data-start="6.1.2019", data-deadline="1.1.2020")
					.stock__head
						.stock__discount -30%
						.stock__product ALTEST
					a(href="#").stock__offer Подарки к каждому заказу этой весной!
					.stock__progress
						.stock__progress-bar
					.stock__deadline <span class="js-deadline"></span>
		.swiper-pagination.stock__pagination
