section.videos
	.container.container--mob
		h2.section-title видео
		.videos__container
			a.preview(href="#")
				.preview__img-wrap.preview__img-wrap--video
					img.preview__img(src="", alt="")
				h4.preview__title Застекленные террасы. Часть 2. Поездка на "Solarlux" Германия

			ul
				li.videos__list-item
					a(href="#").videos__video
						.videos__preview
							.videos__img-wrap
								img.videos__img(src="", alt="")
						.videos__info
							h4.videos__title Компания "Стандарт Окна" — жизнь в стиле Rehau 
							.videos__time 10:17
				li.videos__list-item
					a(href="#").videos__video
						.videos__preview
							.videos__img-wrap
								img.videos__img(src="", alt="")
						.videos__info
							h4.videos__title Компания "Стандарт Окна" — жизнь в стиле Rehau 
							.videos__time 10:17
				li.videos__list-item
					a(href="#").videos__video
						.videos__preview
							.videos__img-wrap
								img.videos__img(src="", alt="")
						.videos__info
							h4.videos__title Компания "Стандарт Окна" — жизнь в стиле Rehau 
							.videos__time 10:17
