extends ../main/base

block variables
	- let title = 'Main';

block content
	include ../includes/first
	include ../includes/read
	include ../includes/stock
	include ../includes/ban
	include ../includes/news 
	include ../includes/ad
	include ../includes/ban
	include ../includes/videos