extends ../main/base

block variables
	- let title = 'Main';

block content
	include ../includes/first
	include ../includes/read
	include ../includes/stock
	include ../includes/ban
	include ../includes/news  
	include ../includes/prom
	include ../includes/ban
	include ../includes/videos
	include ../includes/rating
	include ../includes/platform
