.rating
	padding: 95px 0 0
	@media screen and (max-width: $fablet)
		padding: 60px 0 0
	&__
		&grid
			display: grid
			grid-template-columns: 1fr 1fr
			grid-gap: 110px 100px
			margin-bottom: 65px
			@media screen and (max-width: $fablet)
				grid-template-columns: 1fr
		&list 
			counter-reset: inst
			padding: 0 1px
			
		&caption 
			color: #201f1f
			font-size: 18px
			font-weight: 900
			width: 100%
			text-align: center
			padding: 14px 0
			margin: 33px 0
			
		&ol-item
			display: flex
			align-items: center
			counter-increment: inst
			margin-bottom: 16px

			&::before
				content: counter(inst) "."
				width: 35px
				display: block
				color: #96939f
				font-size: 13px
				font-weight: 700
		&ul-item
			&:not(:last-child)
				margin-bottom: 50px
			.rating__line
				@media screen and (max-width: $mobile)
					display: block
		&logo
			width: 48px
			height: 48px 
			background-color: #95929f
			border-radius: 50%
			margin-right: 21px
			overflow: hidden
		&img
			object-fit: contain
			width: 100%
		&icon 
			width: 20px
			height: 20px
			margin-right: 13px
			&--
				&calendar
					width: 16px
					height: 17px
		&line
			display: flex
			align-items: center
		&info 
			display: flex
			align-items: center
			color: #96939f
			font-size: 13px
			font-weight: 700
			text-transform: uppercase
			& + .rating__info 
				margin-left: 40px
				@media screen and (max-width: $mobile)
					margin: 12px 0 0

		&name 
			margin-top: 15px
			color: #201f1f
			font-size: 18px
			font-weight: 900
			line-height: 26px
			display: block
			&:hover 
				color: $accent2C
		&rating 
			position: relative

			overflow: hidden

			.tns-controls
				display: flex
				justify-content: space-between
				align-items: center
				position: absolute
				width: 100%
				top: 62px
				left: 0
				padding: 14px 18px
				border: 2px solid rgba(150, 147, 159, 0.35)
				text-align: center
				z-index: 2
				&>button 
					text-indent: -9999px
					cursor: pointer
					width: 10px
					height: 14px
					border-radius: 0
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10' height='14' viewBox='0 0 10 14'%3E%3Cimage width='10' height='14' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAAk0lEQVQoU2NkwA9CgNINQGzLiEddCVCuC4hBahSxKWQGSkwC4iwkQzAUcgMlVwCxD5pNKAolgZJbgNgIi3PgCrWAktuBWA6Hm8EKeYH4IRAL4vEYXOEDoCIhQgpB8ppQq+XxWQ2Tk4B6xhifZ2ByXNDg8cUXPDA5UIBPBOJsfAGObFAxkNMNxDijEFkxKFE0ArENAG/FD7Gl/EGbAAAAAElFTkSuQmCC'/%3E%3C/svg%3E")
					&:nth-child(2)
						transform: rotate(180deg)
					&:hover 
						opacity: .8
					&:active
						opacity: .3
					&[disabled]
						opacity: .3