.read
	padding: 55px 0 88px

	&__
		&title
			margin-bottom: 48px
			@media screen and (max-width: $fablet)
				margin-bottom: 32px
		&parts
			display: flex
			justify-content: space-between
			@media screen and (max-width: $fablet)
				display: block
		&left
			width: calc(100% - 315px)
			@media screen and (max-width: $fablet)
				width: 100%
				margin-bottom: 40px
		&nav
			margin-bottom: 40px
			display: flex
			justify-content: space-between
			align-items: center
			@media screen and (max-width: $mobile)
				padding: 0 15px
				display: block
				margin-bottom: 30px
		&articles
			grid-template-columns: 1fr 1fr 1fr
			grid-gap: 60px 15px
			display: none
			@media screen and (max-width: $tablet)
				grid-template-columns: 1fr 1fr
			@media screen and (max-width: $mobile)
				grid-template-columns: 1fr
			&.active
				display: grid
		&right
			width: 300px
			position: relative
			@media screen and (max-width: $fablet)
				width: 100%
		&banner
			width: 100%
			min-height: 435px
			background-color: #eff1f3
			display: block
			position: sticky
			top: 15px
			left: 0
			@media screen and (max-width: $tablet)
				top: 65px
			@media screen and (max-width: $fablet)
				width: 240px
				height: 350px
				margin: 0 auto
		&tabs
			display: flex
			@media screen and (max-width: $tablet)
				display: none
		&tab
			font-size: 13px
			font-weight: 700
			text-transform: uppercase
			color: #96939f
			cursor: pointer
			user-select: none
			padding: 10px 0
			&.active
				color: #236feb
			&:not(:last-child)
				margin-right: 40px
		&select
			display: none
			@media screen and (max-width: $tablet)
				display: block
