// FONTS
$regF: 'OpenSansRegular'
$lightF: 'OpenSansLight'
$boldF: 'OpenSansBold'

// BREACKPOINTS
$desktop: 1280px
$tablet: 1024px
$fablet: 768px
$mobile: 425px

// COLORS
$mainC: #69d2e7
$accentC: #fa6900
$bgC: #f1f1f1
$darkC: #000
$whiteC: #fff

//width
$containerW: 1200px