// FONTS
$mainF: 'Montserrat'

// BREACKPOINTS
$desktop: 1280px
$tablet: 1024px
$fablet: 768px
$mobile: 425px

// COLORS
$accent1C: #f7a300
$accent2C: #1e6ef1
$lightGrayC: #eff1f3
$blackC: #000
$whiteC: #fff

//width
$containerW: 1230px